* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
label {
  width: 100%;
  margin-top: 0.6em;
}
.main-input {
  display: block;
  width: 100%;
  margin-top: 0.3em;
  outline: none;
}

.main-input:focus {
  outline: 1px solid green;
}

input[type="submit"] {
  margin-top: 1.5em;
  padding: 0.4em 2em;
  background-color: white;
  font-size: 0.9rem;
  outline: none;
  border: 1px solid #7a7a7a;
  border-radius: 1em;
  transition: transform 150ms ease-in, box-shadow 150ms ease-in;
}
input[type="submit"]:hover {
  box-shadow: 0px 10px 10px -5px rgb(175, 175, 175);
  transform: translateY(-6px);
}

/* Alert */

.success,
.error {
  color: white;
  padding: 5px;
  margin: 5px 0 15px 0;
}
.succes {
  background: green;
}
.error {
  background: red;
}

.material-icons {
  cursor: pointer;
  color: #333;
}
